*, *::after, *::before {
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    background-image: url(bg.jpeg);

}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9);
}

body {
    text-align: center;
    margin: 0;
    position: static;
    margin-top: 100px;
    color: white;
}

h1 {
    font-size: 8vw;
    margin-top: -20px;
    letter-spacing: 15px;
    color: white;
    text-transform: uppercase;
    width: 100%;
    text-align: center; 
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}



.board {
    margin-top: -250px;
    width: 100vw;
    height: 100vh;
    display: grid; 
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3,auto);
    z-index: 999;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    border-radius: 25px;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
    border-radius: 25px;
}

.cell:nth-child(3n+1) {
    border-left: none;
    border-radius: 25px;
}

.cell:nth-child(3n+3) {
    border-right: none;
    border-radius: 25px;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom: none;
    border-radius: 25px;
}

.cell.x,
.cell.circle {
    cursor: not-allowed;
}

.cell.x::before,
.cell.x::after{
    background-color: rgb(228,117,172);

}

.cell.circle::before,
.cell.circle::after {
    background-color: rgb(7,237,244);
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    background-color: lightgrey;
} 

.cell.x::before, 
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(45deg);
    border-radius: 25px;
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
    border-radius: 25px;
}

.cell.circle::before, 
.cell.circle::after,
.board.circle .cell:not(.x):not(circle):hover::before,
.board.circle .cell:not(.x):not(circle):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(circle):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(circle):hover::after {
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size)* .7);
    background-color: rgb(4,84,152);
}

.winning-message {
    display: none;
    position: relative;
    top: 0;
    left: 0; 
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.01);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3.5rem;
    flex-direction: column;
    margin-top: -200px;
    z-index: 1;
}

.winning-message button {
    font-size: 1.5rem;
    background-color: white;
    border: 1px solid black;
    padding-left: .25em .5em; 
    cursor: pointer; 
    border:none;
}

button { 
    border: none;
    border-radius: 25px;
    min-width: 100px;
    padding-block: 7px;
    padding-inline: 40px;
}

button:hover {
    background-color: black;
    color: #0065fc;
    border: none;
}

.winning-message.show {
    display: flex;
}

